<section class="singleSong card">
{{!-- <h1>Update Song</h1> --}}
<form>
    <div class="formGroup">
        <label for="songTitle">Song title:</label>
        <input 
            type = 'text'
            name = 'songTitle'
            id = 'songTitle'
            />
    </div>
        <div class="formGroup">
        <label for="artist">Artist:</label>
        <input 
            type = 'text'
            name = 'artist'
            id = 'artist'
            />
    </div>
        <div class="formGroup">
        <label for="genre">Genre</label>
        <input 
            type = 'text'
            name = 'genre'
            id = 'genre'
            />
    </div>
        <div class="formGroup">
        <label for="user">Picked By:</label>
        <input 
            type = 'text'
            name = 'user'
            id = 'user'
            />
    </div>
    <button type="submit">Submit</button>
    <button>Cancel Changes</button>
</form>
</section>