<section class="singleSong card">
    <h1>Song Title: {{song_name}}</h1>
    <h2>Artist: {{artist}}</h2>
    {{#if genre}}
    <h3>Genre: {{genre}}</h3>
    {{/if}}   
    {{#if UserId}}
    <h3>Picked by: {{User.name}}</h3>
    {{/if}}
    <a href="https://www.spotify.com" target="_blank"><button>Click here to listen on Spotify!</button></a>
    <a href="https://www.applemusic.com" target="_blank"><button>Click here to listen on Apple Music!</button></a>
</section>
