<section class="singleSong col-6">
    <h1 class="card-title">Song Title: {{song_name}}</h1>
    <h2>Artist: {{artist}}</h2>
    {{#if genre}}
    <h3>Genre: {{genre}}</h3>
    {{/if}}   
    {{#if UserId}}
    <h3>Picked by: {{User.name}}</h3>
    {{/if}}
    <button>Click here to listen on Spotify!</button>
    <button>Click here to listen on Apple Music!</button>
</section>
