<section class="createContainer container">
<h2>Add your song!</h2>
<form id="addForm">
    <label for="songName">Song Title:</label>
    <input type="text" name="songName" placeholder="song title" id="songName">
    <label for="artist">Artist:</label>
    <input type="text" name="artist" placeholder="artist" id="artist">
    <label for="genre">Genre:</label>
    <input type="text" name="genre" placeholder="genre" id="genre">
    <label for="user">Your Name:</label>
    <input type="text" name="user" placeholder="your name" id="user">
    <button id="addFormSubmit">Submit!</button>
</form>
</section>