<section class="center">
    <h2 class="description">Enjoy our collaborative list of songs!</h2>
    <h2 class="description">Want to listen? Click on a song to see more information, then click for your preferred platform!</h2>
    <a href="/create"><button>Enter your song choice here</button></a>
</section>
<section class="listContainer container">
    {{#each songs as |song|}}
    {{>song-details}}
    {{/each}}
</section>